@using MoFang.MobileSite.Dashboard.ViewModels.Home
@model IndexViewModel
@{
    ViewData["Title"] = "首页";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">欢迎！</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">首页</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
